<%- include("../../../partials/header.ejs") %>
<%- include("../../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Tipos de Peça</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/admin/parts/tipo/save">
                <input class="form-control" type="text" name="name" placeholder="Defina o nome para o tipo de peça"><br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>


<%- include("../../../partials/footer.ejs") %>